$bg-color: #1f242d;
$second-bg-color: #323946;
$text-color: #fff;
$main-color: #ee97ff;

@mixin flex($display: flex, $dir: line, $justify: center) {
    display: $display;
    flex-direction: $dir;
    justify-content: $justify;
    align-items: center;
}

@mixin text_data($align: center, $fontsize, $font-weight: 400, $color: $text-color) {
    text-align: $align;
    font-size: $fontsize;
    font-weight: $font-weight;
    color: $color;
}

@mixin border($border_size, $border_color, $border_radius: 2rem) {
    border: $border_size solid $border_color;
    border-radius: $border_radius;
}

body {
    background: $bg-color !important;
    color: $text-color !important;
}

span {
    color: $main-color;
}

.btn {
    display: inline-block;

    background: $main-color !important;
    border-radius: 4rem !important;
    box-shadow: 0 0 1rem $main-color;

    color: $second-bg-color !important;
    letter-spacing: .1rem;
    font-weight: 600 !important;

    &:hover {
        box-shadow: none;
    }
}

@media (min-width: 1024) {

    .btn {
        font-size: 1.6rem !important;
        padding: 1rem 2.8rem !important;
    }
}

.heading {

    padding-bottom: 5rem;

}

@media (min-width: 1024) {
    .heading {
        @include text_data($fontsize: 4.5rem);


    }
}

@media (min-width:768px) and (max-width: 1023px) {
    .heading {
        @include text_data($fontsize: 4rem);


    }
}

@media (max-width: 767px) {
    .heading {
        @include text_data($fontsize: 3.5rem);


    }
}