$bg-color: #1f242d;
$second-bg-color: #323946;
$text-color: #fff;
$main-color: #ee97ff;

@mixin flex($display: flex, $dir: line, $justify: center) {
    display: $display;
    flex-direction: $dir;
    justify-content: $justify;
    align-items: center;
}

@mixin text_data($align: center, $fontsize, $font-weight: 400, $color: $text-color) {
    text-align: $align;
    font-size: $fontsize;
    font-weight: $font-weight;
    color: $color;
}

@mixin border($border_size, $border_color, $border_radius: 2rem) {
    border: $border_size solid $border_color;
    border-radius: $border_radius;
}

body {
    background: $bg-color;
    color: $text-color;
}

span {
    color: $main-color;
}

.btn {
    display: inline-block;
    padding: 1rem 2.8rem;
    background: $main-color;
    border-radius: 4rem;
    box-shadow: 0 0 1rem $main-color;
    font-size: 1.6rem;
    color: $second-bg-color;
    letter-spacing: .1rem;
    font-weight: 600;

    &:hover {
        box-shadow: none;
    }
}

.heading {
    @include text_data($fontsize: 4.5rem);
    padding-bottom: 5rem;

}