@use 'main';

.about {
    background: main.$second-bg-color;
    min-height: 150vh;

    .about-box {
        background: main.$bg-color;
        @include main.flex($dir: column);
        text-align: center;
        margin: auto;
        border-radius: 2rem;
        padding: 3rem 2rem 4rem;
    }

    @media (min-width: 1024px) {
        .icon {
            @include main.flex();

            .logo {

                width: 100px;
                margin: 4rem 0 4rem 0;
                padding: 2rem;

                p {
                    font-size: 1.4rem;
                }
            }
        }

        h3 {
            font-size: 3.2rem;

        }

        .resume {
            @include main.text_data(left, 1.6rem);

            padding: 5rem;
            line-height: 3rem;


        }

        .about-box {



            box-shadow: 0 0 1rem main.$main-color;
            width: 75%;
            margin: auto;

        }

    }

    @media (min-width:768px) and (max-width: 1023px) {
        .icon {
            display: grid;
            grid-template-columns: repeat(4, 2fr);

            .logo {
                width: 80px;

                margin: 2rem 0 2rem 0;
                padding: 1rem;

                p {
                    font-size: 1.4rem;
                }
            }
        }

        h3 {
            font-size: 2.5rem;
        }

        .resume {
            @include main.text_data(left, 1.6rem);

            padding: 5rem;
            line-height: 3rem;

        }
    }

    @media (max-width: 767px) {
        .icon {
            display: grid;
            grid-template-columns: repeat(3, 2fr);

            .logo {

                width: 40px;
                margin: 2rem 1rem 0 1rem;
                @include main.flex($dir: column, $justify: flex-start);

                p {
                    font-size: 1.1rem;

                }
            }
        }

        h3 {
            font-size: 2rem;

        }

        .resume {
            @include main.text_data(left, 1.3rem);

            padding: 5rem 1rem 2rem 1rem;
            line-height: 3rem;


        }
    }

    .about-img {
        width: 50%;
        margin: 2%;
        background: main.$second-bg-color;

        img {
            width: 100%;
        }

    }

}

.about-fullstack,
.about-videogame {
    @include main.flex($dir: column);
    width: 100%;

    .content {
        width: 100%;

        #competences {
            justify-content: flex-end;
            margin-left: auto;
        }

        .box {
            margin: 5rem 0 5rem 0;
            width: 60%;
            background: main.$bg-color;
            padding: 5rem 10rem;

            border-radius: 2rem;
            box-shadow: 0 0 1rem main.$main-color;
            flex-direction: column;

            h2 {
                @include main.text_data(left, 6rem);

                span {
                    text-shadow: 1px 1px 2px main.$main-color, 0 0 1em main.$main-color, 0 0 0.2em main.$main-color;
                }
            }

            p,
            li {
                font-size: 1.8rem;
                text-shadow: main.$main-color 1px 0 5px;
            }

            li {
                margin: 1rem 0;
            }
        }
    }

    h1 {
        @include main.text_data(center, 6rem);

        span {
            text-shadow: 1px 1px 2px main.$main-color, 0 0 1em main.$main-color, 0 0 0.2em main.$main-color;
        }
    }

    .parcour-typed {
        span {
            font-size: 1.8rem;
            color: white;
        }

        .type-cursor--blink {
            visibility: hidden;
        }
    }

    .underline {
        font-weight: 900;
        text-shadow: none;
        text-decoration: underline;
    }
}