@use 'main';

.contact {
    background: main.$second-bg-color;

    @media (min-width:1024px) {
        label {

            font-size: 2rem;
        }

        .formular {
            padding: 4rem 6rem;
        }

        .submiting {
            justify-content: space-between;
        }

    }

    @media (min-width:768px) and (max-width: 1023px) {
        label {

            font-size: 1.8rem;
        }

        .formular {
            padding: 4rem 6rem;
        }

        .submiting {
            justify-content: space-between;
        }
    }

    @media (max-width: 767px) {
        label {

            font-size: 1.5rem;
        }

        .formular {
            padding: 2rem 2rem;
        }

        .submiting {
            justify-content: center;
        }
    }

    .row {
        padding-bottom: 2rem;
    }

    .formular {
        display: flex;
        justify-content: center;
        margin: auto;
        max-width: 600px;
        background: main.$bg-color;
        border-radius: 2rem;


        form {
            display: inline-block;
            justify-content: center;
            width: 100%;
            background: var(--main-color);
        }

        .submiting {
            display: flex;
            align-items: center;


            .send-state {
                font-size: 2rem;
            }
        }


    }

    .input-field,
    textarea {
        width: 100%;
        height: auto;
        margin: 5px;
        border-radius: 5px;
        padding: 10px;
    }



    input {
        margin-right: 2rem;
        margin-top: 2rem;

    }

    input:focus-visible {
        outline: none;
    }
}