@use 'main';

.home {
    @include main.flex();

    .home-img {
        width: 30vw;

        img {
            width: 100%;
            transform: scaleX(-1);
        }
    }

    .social-media {

        a {
            @include main.flex($display: inline-flex);
            color: main.$main-color;

            background: transparent;


            transition: .5s ease;

            &:hover {
                background: main.$main-color;
                color: main.$second-bg-color;
                box-shadow: 0 0 1rem main.$main-color;
            }
        }
    }

    .home-content {
        text-align: left;
    }

    @media (min-width: 1024px) {

        .home-content {
            h3 {
                font-size: 3.2rem;
                font-weight: 700;
            }

            h1 {
                font-size: 5.6rem;
                font-weight: 700;
                line-height: 1.3;
            }

        }

        .fa-linkedin-in {
            font-size: 2rem !important;
            color: main.$main-color !important;
        }

        .social-media {

            a {
                font-size: 2rem;

                width: 4rem;
                height: 4rem;
                margin: 3rem 1.5rem 3rem 0;
                @include main.border(.2rem, main.$main-color, 50%);

            }
        }


    }
}

@media (min-width:768px) and (max-width: 1023px) {
    .home-content {
        h3 {
            font-size: 2.5rem;
            font-weight: 700;
        }

        h1 {
            font-size: 4rem;
            font-weight: 700;
            line-height: 1.3;
        }
    }

    .social-media {

        a {

            margin: 1rem 1rem 2rem 0;
            font-size: 2rem;
            @include main.border(.2rem, main.$main-color, 50%);
            width: 3rem;
            height: 3rem;

        }
    }
}

@media (max-width: 767px) {


    .social-media {

        a {

            margin: 1rem 1rem 2rem 0;
            font-size: 1.8rem;
            @include main.border(.2rem, main.$main-color, 50%);
            width: 3rem;
            height: 3rem;

        }
    }
}