@use 'main';


.navbar {

    background-color: main.$second-bg-color;
    padding: 2rem 5%;
    position: fixed !important;
    width: 100%;
    z-index: 100;

}

#basic-navbar-nav{
    justify-content: flex-end;
    margin-right: 5rem;
}

.nav-link {
    font-size: 1.7rem !important;
    padding: 0 1rem !important;
    color: main.$text-color !important;

    &:hover {
        color: main.$main-color !important;
    }
}

.nav-activ {
    color: main.$main-color !important;
}

.navbar-brand {
    font-size: 3rem !important;
    color: main.$text-color !important;
    margin-left: 5rem;
}

.collapsed {
    color: main.$text-color !important;
}

.navbar-toggler {
    color: main.$text-color !important;

    .navbar-toggler-icon {
        color: main.$text-color !important;
    }
}