@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;300&display=swap");
@import './styles/nav.scss';

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  border: none;
  outline: none;
  scroll-behavior: smooth;
  font-family: 'Poppins', sans-serif;
}

html {
  font-size: 62.5%;
  overflow-x: hidden;
}

@media (min-width: 1024px) {
  section {
    min-height: 100vh;
    padding: 10rem 9% 2rem;
  }
}

@media (min-width:768px) and (max-width: 1023px) {
  section {
    min-height: 50vh;
    padding: 5rem 2% 2rem;
  }
}

@media (max-width: 767px) {
  section {
    min-height: 50vh;
    padding: 5rem 2% 2rem;
  }
}

img {
  width: 100%;
}